<div class="profile-container">
  <!-- EXAMPLE TOP NAV -->
  <div class="loading-image" *ngIf="loadingProfile">
    <i class="fas fa-circle-notch fa-4x fa-spin"></i>
  </div>


  <div class="topnav">
    <div class="logo">Project TDB</div>
    <div class="menu-item">

    </div>

    <div class="profile-menu" (click)="logout()">
      <img [src]="profileImage" />
    </div>
  </div>
  <h1>Agenda</h1>
  <input [(ngModel)]="email" placeholder="insira o E-mail">
  <input [(ngModel)]="horarios" placeholder="Insira os horários">
  <button class="btn btn-primary" (click)="adicionar">Adicionar horário</button>
  <ul *ngFor="let item of dados">
    {{item.card}}
  </ul>
  <table></table>
</div>




<!-- se quiser colocar colunas ou definir outra 'tabela' vai ter que ir no arquivo server.js  -->
<form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value)" novalidate>
  <p>Dados do Cliente</p>
  <table border='1'>
    <tr>
      <td>name</td>
      <td>
        <!-- //pega os campos daqui para salvar -->
        <input name="id" type="hidden"     [(ngModel)]="id" />
        <input name="name" type="text"  required  [(ngModel)]="name" />
      </td>
    </tr>

    <tr>
      <td>address</td>
      <td>
        <input name="address" required  type="text"   [(ngModel)]="address" />
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>cpf</td>
      <td>
        <input name="cpf" required type="text" [(ngModel)]="cpf"/>
      </td>
      <td colspan="2">
        <input type="submit" value="{{valbutton}}" />
      </td>
    </tr>
  </table>
</form>

<table border='1'>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Address</td>
    <td>CPF</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let kk of Repdata; let ind = index">

    <td>{{ind + 1}}</td>
    <td>{{kk}}</td>
    <td>{{kk.name}}</td>
    <td>{{kk.address}}</td>
    <td>{{kk.cpf}}</td>
    <td><a (click)="edit(kk)" style="color:blueviolet">Edit</a></td>
    <td><a (click)="delete(kk._id)" style="color:blueviolet">Delete</a>  </td>
  </tr>
</table>
